html {
	background-color: #000000; /*black background*/
	font-family: "Isidora", cursive, sans-serif;
	font-size: 95%;
	font: inherit;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;	
}


header, div, nav, section, footer {
	display: block;
}


body {
	line-height: 2;
}

/* header styling */
#header {
	text-align: center;
	color: #9ebdef; /*light blueish color*/
	font-size: 1.25em;
}
/* p styling */
p {
	content: "\f0c9";
font-family: 'FontAwesome' !important;
display: block;
text-align: center !important;
text-indent: 10px;
color: #fff !important;
font-size:1.5em !important;
height: 4px;
width: 4x;
line-height: 40px;}
}

/* h1 styling */
h1 {
	color: #c97a12;	/*orange*/
	margin-left: 1rem;
}

/* changes the lists  */
ol, ul, li {
	list-style: none;
	color: #dd0404; /*orange*/
}

